# vim: ft=yaml

name: release

on:
  push:
    tags:
      - v*

jobs:
  rubygems:
    if: github.repository == 'jgraichen/proc-value'
    runs-on: ubuntu-24.04

    permissions:
      contents: write
      id-token: write

    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 10
      BUNDLE_WITHOUT: development test

    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby
          bundler-cache: true

      - uses: rubygems/release-gem@v1

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
